@using MVCSS.Models
@model ContactViewModel

@{
    ViewBag.Title = "Contact";
}


<main>
<h3>Feedback Form</h3>
@Html.AntiForgeryToken()
@Html.ValidationSummary("", new { @class = "text-danger" })
<form method="post" action="Contact">
    <label for="contact_name">Name:</label>
    <input type="text" name="contact_name" id="contact_name" maxlength="50" required>
    <label for="contact_email">Email Address:</label>
    <input type="email" name="contact_email" id="contact_email" maxlength="50" required>
    <label for="contact_phone">Phone Number:</label>
    <input type="text" name="contact_phone" id="contact_phone" maxlength="50">
    <label for="contact_purpose">Purpose:</label>
    <select>

        <option value="">Please Select a Purpose</option>
        <option value="comment">Site Comment</option>
        <option value="question">General Question</option>
        <option value="employment">Employment Opportunity</option>
        <option value="message">Personal Message</option>

    </select>
    <label for="contact_message">Message:</label>
    <textarea name="contact_message" id="contact_message" required></textarea>
    <input type="submit">


</form>
</main>
