@{
    ViewBag.Title = "Experience";
}


    <main>
    <h3>Professional Experience</h3>
    <div class="experience">

        <h4>T-Mobile US Inc.</h4>
        <div class="dates">January 2008 - July 2013</div>
        <div class="title"> Retention Coach</div>
        <div class="description">
            T-Mobile US inc is a cellular telecomunications company.<br>
            I worked in a subsection of customer service called "Retention"<br>
            which essentially deals with customers that want to cancel their service.
        </div>
        <div class="responsibilities">
            <ul>
                <li>Managed team of 15 representatives and 1 senior representative</li>
                <li>Quality control on calls of representatives</li>
                <li>On call coaching and feedback</li>
                <li>Call escalations</li>
                <li>Top 10 team in the nation on multiple occasions</li>
            </ul>
        </div>

    </div>
    <div class="experience">
        <h4>Augusta Urology Associates</h4>
        <div class="dates">January 2006 - July 2008</div>
        <div class="title"> Data Entry Tech</div>
        <div class="description">Augusta Urology Associates is a local Urology practice with 2 offices and a surgery center</div>
        <div class="responsibilities">
            <ul>
                <li>Convert existing patient's paper charts into digital format</li>
                <li>Create new patient's charts in digital format</li>
            </ul>
        </div>
    </div>
    <h3>Activities</h3>
    <div class="experience">
        <h4>World Builders</h4>
        <div class="dates">January 2013 - Present</div>
        <div class="title"> Volunteer</div>
        <div class="description">Volunteer during annual charity drives.</div>
        <div class="responsibilities">
            <ul>
                <li>Social media advertising</li>
                <li>stream moderation</li>
            </ul>
        </div>
    </div>
    <div class="experience">
        <h4>Atlanta United FC</h4>
        <div class="dates">June 2015 - Present</div>
        <div class="title"> Founding Member</div>
        <div class="description">Atlanta's new MLS team</div>
    </div>
    </main>

