@{
    ViewBag.Title = "Home Page";
}


<section class="featured">
    <div class="content-wrapper">
        <main>
            <div class="portrait">
                <img src="~/Images/me.jpg" alt="Me" width="250 " height="284">
            </div>
            <p>
                Hi! my name is Zane. I am currently enrolled at Augusta University and double majoring in Computer Science and History.
                I previously took an extended break from school and worked in the customer service industry for T-Mobile.
                History is a passion of mine but I am looking for a career in Computer Science.  I am proficient in C# and Java.
                I am also currently learning Haskell and Assembly.
            </p>
            <h3>About Me</h3>
            <p>
                In Honolulu Hawaii born and partially raised. Transplant to Augusta Georgia in 1994 at the age of 10.
                I will be graduating from Augusta University, previously Georgia Regents University, previously Augusta State University.
                I hope to spend a year or two in Japan emersing myself in Japanese.
                I am single and while I hope to find the love of my life one day, I plan to never have children and instead
                spend my free time travelling.
            </p>
        </main>
            </div>
</section>

